.sidebar {
    padding-top: 50px;

    button {
        display: block;
        background: white;
        border: none;
        width: 100%;
        text-align: right;
        font-family: 'Grenze Gotisch', cursive;
        font-size: 16px;
    
        &:hover {
            cursor: pointer;
            color: rgb(146, 146, 146);
        }
    }

}


